        <header class="header">
            <div class="headcen">
                <h1 class="he1"><a href="#" title="HomePage">Erosystems</a></h1>
                <div class="snum"><a class="phone"href="tel:9965230333" title=" Our Mobile No">Call us- 9965230333</a></div>
                <div class="snum oor">Or</div>
                <div class="snum head-qt"><a href="#footer" title="Get a Quote">Get a quote</a></div>
            </div>
        </header>
        <section class="billboard">
            <div class="headcen">
                <div class="billhold billhold-res">
                <img src="img/billboardcomp_x.png" alt="All Hardware Supplies for IT">
            </div>
            <article class="billhold billhold-res2">
                <h2><i class="icon-briefcase"></i>Our Sales &amp; Service's</h2>
                <ul>
                    <!-- <li>Our Salse &amp Services</li> -->
                    <li><i class="icon-leaf"></i>Laptop's-Branded</li>
                    <li><i class="icon-leaf"></i>Desktop-Branded &amp; Assembled</li>
                    <li><i class="icon-leaf"></i>Printer's UPS &amp; other Perepherials</li>
                    <li><i class="icon-leaf"></i>All kind's of Software &amp; More.....</li>
                </ul>
                <div class="callus"><a href="tel:+91996523033"><i class="icon-phone"></i>9965230333</a></div>
            </article>
            </div>
        </section>
        <section class="ourinfo">
            <div class="headcen abt-us">
                <h1 class="abt-hd1">Let's Know Us</h1>
                <p class="abt-pp1">A Well Established Startup In Erode,TN, Providing All IT  SolutionFor Small scale to large scale industries and Companies In and Arround TamilNadu,India.</p>
                <article class="abt-cntr">
                    <section class="abt-dtl">
                        <img src="img/hardware_solution.png" alt="hardware solution">
                        <h1 class="hh1">Hardware</h1>
                        <p class="pp1">We Provide all types of hardware from branded to non-branded such as Desktop pc, Laptop, Printer, ups, and More...</p>
                    </section>
                    <section class="abt-dtl">
                        <img src="img/software_solution.png" alt="hardware solution">
                        <h1 class="hh1">Software</h1>
                        <p class="pp1">We Provide Several softwares such as Os, Antivirus, Games, Textile software, Tally and More...</p>
                    </section>
                    <section class="abt-dtl">
                        <img src="img/services.png" alt="hardware solution">
                        <h1 class="hh1">Services</h1>
                        <p class="pp1">We Provide On-site services and off-site services, AMC, with 27/7 Support, In and arround TN.call Us +919965230333</p>
                    </section>
                </article>
            </div>
        </section>
        <footer id="footer" class="footer">
            <div class="headcen">
                <h1 class="ft_hd">Get In Touch</h1>
                <section class="ft_dt">
                    <article class="ft_in">
                        <h2 class="ft_ad_h2">Old School</h2>
                        <h1 class="ft_ad_h1">Business-y Details</h1>
                        <aside class="ft_addr">
                        <p>Ero Systems,</p>
                        <p>9/4-Andavar Complex,</p>
                        <p>3<sup>rd</sup> Floor,</p>
                        <p>Akilmedu-6<sup>th</sup> Street,</p>
                        <p>Erode-638001.</p>
                        <p>Phone- <a href="tel:9965230333" title=" Our Mobile No">9965230333</a></p>
                        </aside>
                    </article>
                    <article class="ft_in ft_last">
                        <h1 class="ft_ad_h1">Get a Quote or Info</h1>
                        <%= form_tag "sendmails", class:'ejax'  do %>
                        <!-- <form class="ejax" action="" method="POST"> -->
                            <div class="ft_iem">
                                <input type="text" name="name" placeholder="Enter Your Name" required>
                            </div>
                            <div class="ft_iem">
                                <input type="email" name="email" placeholder="Enter Your Email ID" required>
                            </div>
                            <div class="ft_iem">
                                <input type="number" name="number" pattern="^\+?[0-9-]+$" placeholder="Enter Your Mobile No" required>
                            </div>
                            <div class="ft_iem">
                                <textarea type="textarea" name="message" placeholder="Your Toughts or Quote" required></textarea>
                            </div>
                            <div class="ft_iem">
                                <input  class="ft_btn" type="submit" value="Make It !">
                            </div>
                        <!-- </form> -->
                        <% end %>
                    </article>
                </section>
                <section class="ft_crdt">
                    <article class="ft_crd">
                        <p>Engineerd with &hearts; in INDIA</p>
                        <%time = Time.new%>
                        <p>&copy;<%=time.year%>.Erosystem.All Rights Reserved</p>
                        <p>Site designed and Developed by <a href="http://blueflameindia.tk" title="Blueflame">Blueflame Ltd (p)</a> - Saravanan.T,CEO.
                        <p>
                    </article>
                </section>
        </footer>
        <div class="good">!Sending</div>



        

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        
         <script>
            var _gaq=[['_setAccount','UA-43577200-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
         </script>
