<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,300italic' rel='stylesheet' type='text/css'>
	<style>


#outlook a { 
  padding:0; 
} 

body{ 
  width:100% !important; 
  min-width: 100%;
  -webkit-text-size-adjust:100%; 
  -ms-text-size-adjust:100%; 
  margin:0; 
  padding:0;
}
.bg {
  width: 100%;
}
.heads {
  background-color: #3498db;
  height:100px;
  color: #fff;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}
.heads span {
  font-weight: 300;
}
  

  </style>
</head>
<body>

<table>
  <table class="bg heads">
    <tr><td><h1>EROSYSTEMS</h1>
      <span>Pc| Laptop | softwares</span>
    </td></tr>
  </table>
  <table class="bg heads">
    <tr><td><h1>Hi, Name</h1>
      <span></span>
    </td></tr>
  </table>
</table>

</body>
</html>